* {
    box-sizing: border-box;
}

body {
    display: flex;
    justify-content: center;
}

.calculator-container {
    background-color: gainsboro;
    border: 4px solid black;
    border-radius: 16px;
    padding: 24px;
    display: flex;
    flex-direction: column;
    gap: 24px;
}

.display,
button {
    font-size: 16px;
    background-color: aliceblue;
    border: 1px solid black;
    border-radius: 8px;
    padding: 8px;
}